body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, pink, rgb(142, 142, 255)) !important;
}

div{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: white;
    border-radius: 15px;
}
.input,
select{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    width: 89%;
}

select {
    width: 100%;
    background-color: #FFF;
}

.button{
    background-color: grey;
    border:none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
}

.button:hover{
    background-color: rgb(146, 146, 146);
}